/app/node_modules
/app/public/storage
/app/vendor

/app/Homestead.json
/app/Homestead.yaml
/app/.env
/app/composer.phar

/public_html/web.config
/public_html/robots.txt
/public_html/index.php
/public_html/.htaccess

.bash_history
/.cache/
/.composer/
.idea/

